.mega-box{
	height:300px;
	width:200px;
	border:3px solid blue;
	overflow-y:scroll;
}
	
.box-2{
	height:300px;
	width:200px;
	border:3px solid black;
	overflow-y:scroll;
}
.mini-mini{
		width:200px;
		border: 2px solid green;
		overflow:hidden;
}
.short-text{
		white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

	border:2px solid indigo	
}
#box-1{
	background-color:blue;
	color:white;
}
#box-2{
	background-color:chocolate;
	
}
#box-3{
	background-color:gray;
}
#box-4{
	background-color:red;
}





.prntdiv{
	display:flex;
	cursor:pointer;
}
	
.box{
	height:300px;
	width:300px;
	padding:30px;
	background-color:yellow;
	margin:10px;
}
.box{
	height:300px;
	width:300px;
	padding:30px;
	background-color:yellow;
	margin:10px;
}
.box{
	height:300px;
	width:300px;
	padding:30px;
	background-color:yellow;
	margin:10px;
	}
.box{
	height:300px;
	width:300px;
	padding:30px;
	background-color:yellow;
	margin:10px;
}

	
